body {
  margin: 0;
}
h1 {
  font-size: 2vw;
  color: azure;
}

.grid * {
  font-family: Elms Sans;
}
.grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  grid-gap: 4px;
}

.logos {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
}
#apes {
  max-width: 13vw;
}
#LOGO {
  max-width: 25vw;
}

#sun {
  max-width: 5vw;
}
.head-imgs {
  display: flex;
  align-items: center;
  justify-content: left;
}

aside {
  text-align: center;
  background-color: #05386b;
  padding-bottom: 1vh;
}
aside > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5vw;
  gap: 3vw;
}
aside > div > a {
  color: azure;
  text-decoration: none;
  padding: 1.5vw;
  border-radius: 10px;
  border: 2.5px solid;
}

main {
  background-color: #2f2fa2;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-self: right;
}

.left-content {
  padding-left: 1.5vw;
  max-width: 80%;
}

img {
  max-width: 80%;
  border-radius: 10vw;
}

.footer-items > div > img {
  max-width: 2vw;
}
.footer-items > div {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.footer-items {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
footer {
  background-color: #379683;
  display: flex;
  grid-column: 1 / -1;
  position: sticky;
  align-self: flex-start;
}

@media (max-width: 1220px) {
  .grid {
    grid-template-columns: 170px 1fr;
  }
  aside > div > a {
    font-size: 2vw;
  }

  .right-content {
    display: grid;
    grid-template-columns: 1fr;
    align-self: right;
  }
  .right-content > img {
    max-width: auto;
  }
}

@media (max-width: 1080px) {
  .grid {
    grid-template-columns: 170px 1fr;
  }
  aside > div > a {
    font-size: 2vw;
  }
}

@media (max-width: 780px) {
  .grid {
    grid-template-columns: 140px 1fr;
  }
  aside > div > a {
    font-size: 2.5vw;
  }
  .right-content > div > img {
    max-height: 20vw;
  }
  .right-content > div {
    font-size: 12px;
  }
}

@media (max-width: 560px) {
  .grid {
    grid-template-columns: 120px 1fr;
  }
  aside > div > a {
    font-size: 3vw;
  }
  .left-content > p {
    font-size: 2.5vw;
  }
  .left-content > h2 {
    font-size: 4vw;
  }
  .left-content {
    max-width: 80%;
  }
  .right-content > div {
    font-size: 2vw;
  }
}

@media (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  aside > p {
    display: none;
  }
  aside > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 4vw;
  }
  aside > div > a {
    font-size: 4.5vw;
  }

  h1 {
    font-size: 3vw;
  }
  header {
    padding: 5px;
    padding-left: 10px;
  }
  .right-content > div > img {
    max-height: 30vw;
  }
}
